name: Flutter CI + Firebase App Distribution - ecommerce App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test-distribute:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.6
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build APK (Release - no R8)
        run: flutter build apk --release

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk
