name: Flutter CI + Firebase App Distribution - ecommerce App

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-test-distribute:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Setup Flutter
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.6
          channel: stable

      # 3️⃣ Install dependencies
      - name: Install dependencies
        run: flutter pub get

      # 4️⃣ Build APK (Release)
      - name: Build APK
        run: flutter build apk --release

      # 5️⃣ Upload APK as Artifact (تحميله من GitHub)
      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: build/app/outputs/flutter-apk/app-release.apk

    


# npm install -g firebase-tools
# firebase login
# firebase login:ci
# take secrets.FIREBASE_TOKEN from result of firebase login:ci

# put secrets.FIREBASE_TOKEN on Settings
#→ Secrets and variables
#→ Actions


      


